VS2010/Buckland_Chapter3-Steering Behaviors/.vs/
VS2010/Buckland_Chapter3-Steering Behaviors/Debug/
VS2010/Buckland_Chapter3-Steering Behaviors/Release/
VS2010/Buckland_Chapter4-SimpleSoccer/.vs/
VS2010/Buckland_Chapter4-SimpleSoccer/Release/
